* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  font-family: 'Lato', sans-serif;
  background-color: #000000;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
}

.wrapper {
  padding: 10px 20px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-row-gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 45px;
  font-size: 2rem;
  list-style: none;
}

.nav_link {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 18px;
  background-color: #333232;
  width: 160px;
  color: #f0f0f0;
}

.info {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.info_photo {
  width: 300px;
  border-radius: 18px;
}

.info_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-radius: 18px;
  background-color: #333232;
  height: 100%;
}

.title {
  font-size: 4rem;
}

.subtitle {
  font-weight: 300;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 29px;
  font-size: 2rem;
  list-style: none;
}

.contact-list > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #000000;
  padding: 10px;
  border-radius: 18px;
  width: 160px;
}

.contact_link {
  color: #f0f0f0;
}

.contact_info {
  display: block;
  font-size: 15px;
}

.info_title {
  display: flex;
  flex-direction: column;
}

.main {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.section {
  padding: 10px;
  background-color: #333232;
  border-radius: 18px;
}

.section_title {
  font-size: 4rem;
  font-weight: 600;
}

.section_subtitle {
  font-size: 2rem;
  font-weight: 300;
  text-decoration: underline;
}

.about_text {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.skills {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, 1fr);
}

.skills > h2 {
  grid-column: 1 / -1;
}

.skill_list {
  font-size: 2rem;
  line-height: 2;
  list-style: circle;
}

.code {
  font-size: 1.5rem;
}

.task_list {
  font-size: 2rem;
  line-height: 2;
  list-style: circle;
}

.task_link {
  color: #f0f0f0;
}

.education_list {
  font-size: 2rem;
  line-height: 2;
  list-style: none;
  padding: 0;
}

.education_list__courseCertificate {
  width: 500px;
}

.languages_list {
  font-size: 2rem;
  line-height: 2;
  list-style: circle;
}

.social_links {
  display: flex;
  padding: 0;
  font-size: 2rem;
  gap: 25px;
  list-style: none;
  justify-content: center;
}

.footer_text {
  font-size: 1.5rem;
  text-align: center;
}

.social_link {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-size: contain;
  background-color: #000000;
  background-repeat: no-repeat;
}

.social_link__github {
  background-image: url(./assets/GitHub-Mark.png);
}

.social_link__rs {
  background-image: url(./assets/rs_school-og.png);
  background-position: center;
  border: 8px solid #ffffff;
}

.hidden {
  display: none;
}
